In [1]:
# 라이브러리 import
import numpy as np
import pandas as pd

In [2]:
# 파일 불러오기
name = pd.read_csv("pokemon_data/pokemon_name.csv")
data = pd.read_csv("pokemon_data/pokemon.csv")
data.head()

,Column1,pokedex_number,name,german_name,japanese_name,generation,status,species,type_number,type_1,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,0,1,Bulbasaur,Bisasam,フシギダネ (Fushigidane),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,1,2,Ivysaur,Bisaknosp,フシギソウ (Fushigisou),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,2,3,Venusaur,Bisaflor,フシギバナ (Fushigibana),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,3,3,Mega Venusaur,Bisaflor,フシギバナ (Fushigibana),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
4,4,4,Charmander,Glumanda,ヒトカゲ (Hitokage),1,Normal,Lizard Pokémon,1,Fire,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5

In [3]:
data.columns

Index(['Column1', 'pokedex_number', 'name', 'german_name', 'japanese_name',
       'generation', 'status', 'species', 'type_number', 'type_1', 'type_2',
       'height_m', 'weight_kg', 'abilities_number', 'ability_1', 'ability_2',
       'ability_hidden', 'total_points', 'hp', 'attack', 'defense',
       'sp_attack', 'sp_defense', 'speed', 'catch_rate', 'base_friendship',
       'base_experience', 'growth_rate', 'egg_type_number', 'egg_type_1',
       'egg_type_2', 'percentage_male', 'egg_cycles', 'against_normal',
       'against_fire', 'against_water', 'against_electric', 'against_grass',
       'against_ice', 'against_fight', 'against_poison', 'against_ground',
       'against_flying', 'against_psychic', 'against_bug', 'against_rock',
       'against_ghost', 'against_dragon', 'against_dark', 'against_steel',
       'against_fairy'],
      dtype='object')

In [4]:
# 불필요한 column drop
data.drop(['Column1', 'german_name', 'japanese_name', 'species', 'abilities_number', 'ability_1', 'ability_2',
       'ability_hidden', 'catch_rate', 'base_friendship',
       'base_experience', 'growth_rate', 'egg_type_number', 'egg_type_1',
       'egg_type_2', 'percentage_male', 'egg_cycles'], axis=1, inplace=True)
data.tail()

,pokedex_number,name,generation,status,type_number,type_1,type_2,height_m,weight_kg,total_points,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
1023,888,Zacian Hero of Many Battles,8,Legendary,1,Fairy,NaN,2.8,110.0,670,...,1.0,1.0,1.0,0.50,1.00,1.0,0.0,0.5,2.0,1.0
1024,889,Zamazenta Crowned Shield,8,Legendary,2,Fighting,Steel,2.9,785.0,720,...,2.0,1.0,1.0,0.25,0.25,1.0,0.5,0.5,0.5,1.0
1025,889,Zamazenta Hero of Many Battles,8,Legendary,1,Fighting,NaN,2.9,210.0,670,...,1.0,2.0,2.0,0.50,0.50,1.0,1.0,0.5,1.0,2.0
1026,890,Eternatus,8,Legendary,2,Poison,Dragon,20.0,950.0,690,...,2.0,1.0,2.0,0.50,1.00,1.0,2.0,1.0,1.0,1.0
1027,890,Eternatus Eternamax,8,Legendary,2,Poison,Dragon,100.0,NaN,1125,...,2.0,1.0,2.0,0.50,1.00,1.0,2.0,1.0,1.0,1.0

In [5]:
# 1세대 포켓몬만 추리기
data = data[data["generation"] == 1]
data.tail()

,pokedex_number,name,generation,status,type_number,type_1,type_2,height_m,weight_kg,total_points,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
187,149,Dragonite,1,Normal,2,Dragon,Flying,2.2,210.0,600,...,0.0,1.0,1.0,0.5,2.0,1.0,2.0,1.0,1.0,2.0
188,150,Mewtwo,1,Legendary,1,Psychic,NaN,2.0,122.0,680,...,1.0,1.0,0.5,2.0,1.0,2.0,1.0,2.0,1.0,1.0
189,150,Mega Mewtwo X,1,Legendary,2,Psychic,Fighting,2.3,127.0,780,...,1.0,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,2.0
190,150,Mega Mewtwo Y,1,Legendary,1,Psychic,NaN,1.5,33.0,780,...,1.0,1.0,0.5,2.0,1.0,2.0,1.0,2.0,1.0,1.0
191,151,Mew,1,Mythical,1,Psychic,NaN,0.4,4.0,600,...,1.0,1.0,0.5,2.0,1.0,2.0,1.0,2.0,1.0,1.0

In [6]:
# 이젠 모든 포켓몬이 1세대이므로 column drop
data.drop(['generation'], axis=1, inplace=True)
data.head()

,pokedex_number,name,status,type_number,type_1,type_2,height_m,weight_kg,total_points,hp,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,1,Bulbasaur,Normal,2,Grass,Poison,0.7,6.9,318,45,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,2,Ivysaur,Normal,2,Grass,Poison,1.0,13.0,405,60,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,3,Venusaur,Normal,2,Grass,Poison,2.0,100.0,525,80,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,3,Mega Venusaur,Normal,2,Grass,Poison,2.4,155.5,625,80,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
4,4,Charmander,Normal,1,Fire,NaN,0.6,8.5,309,39,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5

In [7]:
# 메가진화 버전 포켓몬 거르기
data = data[data["name"].str.startswith("Mega") == False]
data.tail()

,pokedex_number,name,status,type_number,type_1,type_2,height_m,weight_kg,total_points,hp,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
185,147,Dratini,Normal,1,Dragon,NaN,1.8,3.3,300,41,...,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0
186,148,Dragonair,Normal,1,Dragon,NaN,4.0,16.5,420,61,...,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0
187,149,Dragonite,Normal,2,Dragon,Flying,2.2,210.0,600,91,...,0.0,1.0,1.0,0.5,2.0,1.0,2.0,1.0,1.0,2.0
188,150,Mewtwo,Legendary,1,Psychic,NaN,2.0,122.0,680,106,...,1.0,1.0,0.5,2.0,1.0,2.0,1.0,2.0,1.0,1.0
191,151,Mew,Mythical,1,Psychic,NaN,0.4,4.0,600,100,...,1.0,1.0,0.5,2.0,1.0,2.0,1.0,2.0,1.0,1.0

In [8]:
# 영어이름 기준으로 한글 이름 추가
data = pd.merge(name, data, how='inner', left_on='Name', right_on='name')
data

,번호,이름,Name,pokedex_number,name,status,type_number,type_1,type_2,height_m,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,1,이상해씨,Bulbasaur,1,Bulbasaur,Normal,2,Grass,Poison,0.7,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,2,이상해풀,Ivysaur,2,Ivysaur,Normal,2,Grass,Poison,1.0,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,3,이상해꽃,Venusaur,3,Venusaur,Normal,2,Grass,Poison,2.0,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,4,파이리,Charmander,4,Charmander,Normal,1,Fire,NaN,0.6,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5
4,5,리자드,Charmeleon,5,Charmeleon,Normal,1,Fire,NaN,1.1,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,147,미뇽,Dratini,147,Dratini,Normal,1,Dragon,NaN,1.8,...,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0
147,148,신뇽,Dragonair,148,Dragonair,Normal,1,Dragon,NaN,4.0,...,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0
148,149,망나뇽,Dragonite,149,Dragonite,Normal,2,Dragon,Flying,2.2,...,0.0,1.0,1.0,0.5,2.0,1.0,2.0,1.0,1.0,2.0
149,150,뮤츠,Mewtwo,150,Mewtwo,Legendary,1,Psychic,NaN,2.0,...,1.0,1.0,0.5,2.0,1.0,2.0,1.0,2.0,1.0,1.0
150,151,뮤,Mew,151,Mew,Mythical,1,Psychic,NaN,0.4,...,1.0,1.0,0.5,2.0,1.0,2.0,1.0,2.0,1.0,1.0

In [9]:
# 중복되는 column drop
data.drop(['번호', 'Name', 'name'], axis=1, inplace=True)
data.head()

,이름,pokedex_number,status,type_number,type_1,type_2,height_m,weight_kg,total_points,hp,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,이상해씨,1,Normal,2,Grass,Poison,0.7,6.9,318,45,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,이상해풀,2,Normal,2,Grass,Poison,1.0,13.0,405,60,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,이상해꽃,3,Normal,2,Grass,Poison,2.0,100.0,525,80,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,파이리,4,Normal,1,Fire,NaN,0.6,8.5,309,39,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5
4,리자드,5,Normal,1,Fire,NaN,1.1,19.0,405,58,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5

In [10]:
# 추가된 이름 column 이름 변경
data.rename(columns = {'이름':'name'},inplace=True)
data.tail()

,name,pokedex_number,status,type_number,type_1,type_2,height_m,weight_kg,total_points,hp,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
146,미뇽,147,Normal,1,Dragon,NaN,1.8,3.3,300,41,...,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0
147,신뇽,148,Normal,1,Dragon,NaN,4.0,16.5,420,61,...,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0
148,망나뇽,149,Normal,2,Dragon,Flying,2.2,210.0,600,91,...,0.0,1.0,1.0,0.5,2.0,1.0,2.0,1.0,1.0,2.0
149,뮤츠,150,Legendary,1,Psychic,NaN,2.0,122.0,680,106,...,1.0,1.0,0.5,2.0,1.0,2.0,1.0,2.0,1.0,1.0
150,뮤,151,Mythical,1,Psychic,NaN,0.4,4.0,600,100,...,1.0,1.0,0.5,2.0,1.0,2.0,1.0,2.0,1.0,1.0

In [11]:
data.type_1.unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon'], dtype=object)

In [12]:
data.type_2.unique()

array(['Poison', nan, 'Flying', 'Ground', 'Fairy', 'Grass', 'Fighting',
       'Psychic', 'Steel', 'Ice', 'Rock', 'Water'], dtype=object)

In [13]:
data.status.unique()

array(['Normal', 'Sub Legendary', 'Legendary', 'Mythical'], dtype=object)

In [14]:
# 한글화 작업
data.replace(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
              'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice', 'Dragon',
              'Flying', 'Steel', 'Sub Legendary', 'Legendary', 'Mythical'
             ],
             ['풀', '불꽃', '물', '벌레', '노말', '독', '전기', 
              '땅', '페어리', '격투', '에스퍼', '바위', '고스트', '얼음', '드래곤',
              '비행', '강철', '전설', '전설', '환상'
             ], inplace=True)
data.tail()

,name,pokedex_number,status,type_number,type_1,type_2,height_m,weight_kg,total_points,hp,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
146,미뇽,147,노말,1,드래곤,NaN,1.8,3.3,300,41,...,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0
147,신뇽,148,노말,1,드래곤,NaN,4.0,16.5,420,61,...,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0
148,망나뇽,149,노말,2,드래곤,비행,2.2,210.0,600,91,...,0.0,1.0,1.0,0.5,2.0,1.0,2.0,1.0,1.0,2.0
149,뮤츠,150,전설,1,에스퍼,NaN,2.0,122.0,680,106,...,1.0,1.0,0.5,2.0,1.0,2.0,1.0,2.0,1.0,1.0
150,뮤,151,환상,1,에스퍼,NaN,0.4,4.0,600,100,...,1.0,1.0,0.5,2.0,1.0,2.0,1.0,2.0,1.0,1.0

In [15]:
data.type_1.unique()

array(['풀', '불꽃', '물', '벌레', '노말', '독', '전기', '땅', '페어리', '격투', '에스퍼',
       '바위', '고스트', '얼음', '드래곤'], dtype=object)

In [16]:
data.type_2.unique()

array(['독', nan, '비행', '땅', '페어리', '풀', '격투', '에스퍼', '강철', '얼음', '바위',
       '물'], dtype=object)

In [17]:
data.status.unique()

array(['노말', '전설', '환상'], dtype=object)